@page "/course/{CourseId}"
@inject DatabaseService DB;
@inject AuthenticationStateProvider Auth;
@using Microsoft.EntityFrameworkCore;
@using NCVC.App.Components;
@using NCVC.App.Models;
@using System.Web;
@inject AuthenticationStateProvider Auth;
@inject NotifierService Notifier;
@inject NCVC.App.Services.EnvironmentVariableService EV;
@inject CsvService CSV;
@implements IDisposable;

<AuthorizeView Roles="Staff">
    <Authorized>

        <div class="content">
            <div class="summary">
                <i class="book icon"></i>
                <a href="/manual">本システムの利用方法</a>
            </div>
        </div>

        <br />
        <br />

        @if (Allowed)
        {

            <div class="ui basic segment">
                <h2 class="ui header">
                    <div class="content">
                        @Course.Name
                    </div>
                </h2>

                <div class="ui basic segment">
                    <div class="ui @(Processing ? "active" : "disabled") inverted dimmer">
                        <div class="ui text loader">Please wait...</div>
                    </div>

                    <div class="ui borderless menu top attached">
                        <div data-tooltip="結果をCSV形式でダウンロード">
                            <a class="ui item" target="_blank" href='@GetCsvFileUrl(FilterString)'><i class="download icon"></i></a>
                        </div>

                        <AuthorizeView Roles="Admin" Context="adminContext">
                            <div data-tooltip="全メールの再確認">
                                <a class="small item">
                                    @if (AllMailProcessing)
                                    {
                                        <i class="icons">
                                            <i class="notched circle loading icon"></i>
                                        </i>
                                    }
                                    else
                                    {
                                        <i class="icons" @onclick="async () => { await CheckMailAsync(true); }">
                                            <i class="sync alternate icon"></i>
                                            <i class="inverted corner add icon"></i>
                                        </i>
                                    }
                                </a>
                            </div>
                        </AuthorizeView>

                        <div data-tooltip="新着メールの確認">
                            <a class="small item" @onclick="async () => { await CheckMailAsync(false); }">
                                @if (NewMailProcessing)
                                {
                                    <i class="icons">
                                        <i class="notched circle loading icon"></i>
                                    </i>
                                }
                                else
                                {
                                    <i class="icons">
                                        <i class="sync alternate icon"></i>
                                    </i>
                                }
                                <small>新着メールの確認</small>
                            </a>
                        </div>

                        <div class="small item">
                            <small>@MailMessage</small>
                        </div>

                        <div class="right borderless menu">
                            <div class="item" style="width: 50em">
                                <div class="ui transparent left icon input">
                                    <i class="terminal icon"></i>
                                    <input type="text" placeholder="e.g. date<@DateTime.Now.Year/@DateTime.Now.Month/@DateTime.Now.Day order by ~date error" class="tt" @bind="FilterString" @onkeyup='async (e) => { if (e.Key == "Enter") { await FilterAsync(FilterString); } }'>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ui menu attached">
                        <div data-tooltip="検索条件をリセット"><a class="active item" @onclick='async () => { FilterString = ""; await FilterAsync(""); }'>リセット</a></div>
                        @foreach (var button in (Course.FilterButtons ?? "").Split(new[] { "\r\n", "\n", "\r" }, StringSplitOptions.None))
                        {
                            var xs = button.Split(":", 2);
                            if (xs.Count() >= 2)
                            {
                                <a class="item" @onclick='async () => { await SetFilteringAsync(xs[1]); }'>@xs[0]</a>
                            }
                        }
                    </div>

                    @if (string.IsNullOrWhiteSpace(ErrorMessage))
                    {
                        <table class="ui very compact table @(HasPagination ? "" : "bottom") attached">
                            <thead>
                                <tr>
                                    <th class="single line">
                                        <a href="javascript:void(0);" @onclick="SetOrderDescDateAsync"><i class="angle up icon"></i></a>
                                        日付
                                        <a href="javascript:void(0);" @onclick="SetOrderDateAsync"><i class="angle down icon"></i></a>
                                    </th>
                                    @if (!string.IsNullOrWhiteSpace(Environment.GetEnvironmentVariable("TIMEFRAME")))
                                    {
                                        <th class="single line">
                                            <a href="javascript:void(0);" @onclick="SetOrderDescTimeFrameAsync"><i class="angle up icon"></i></a>
                                            時間帯
                                            <a href="javascript:void(0);" @onclick="SetOrderTimeFrameAsync"><i class="angle down icon"></i></a>
                                        </th>
                                    }
                                    <th colspan="2" class="single line">
                                        <a href="javascript:void(0);" @onclick="SetOrderDescStudentAsync"><i class="angle up icon"></i></a>
                                        観察対象者
                                        <a href="javascript:void(0);" @onclick="SetOrderStudentAsync"><i class="angle down icon"></i></a>
                                    </th>
                                    @if (!ShowInfected)
                                    {
                                        <th class="single line">体温</th>
                                        <th class="single line">せき</th>
                                        <th class="single line">息苦しさ</th>
                                        <th class="single line">鼻水</th>
                                        <th class="single line">のどの痛み</th>
                                        <th class="single line">体のだるさ</th>
                                        <th class="single line">下痢</th>
                                        <th class="single line">頭痛</th>
                                        <th class="single line">その他風邪症状</th>
                                        <th class="single line">その他症状詳細</th>
                                        <th class="single line">解熱剤・せき止め薬・かぜ薬等の服用</th>
                                        <th class="single line">検査実施</th>
                                        <th class="single line">検査結果</th>
                                    }
                                    else
                                    {
                                        <th class="single line">記録時間1</th>
                                        <th class="single line">体温1</th>
                                        <th class="single line">酸素飽和度1</th>
                                        <th class="single line">記録時間2</th>
                                        <th class="single line">体温2</th>
                                        <th class="single line">酸素飽和度2</th>
                                        <th class="single line">表情</th>
                                        <th class="single line">せき</th>
                                        <th class="single line">息苦しさ</th>
                                        <th class="single line">体のだるさ</th>
                                        <th class="single line">吐き気</th>
                                        <th class="single line">下痢</th>
                                        <th class="single line">意識障害</th>
                                        <th class="single line">食事が食べられない</th>
                                        <th class="single line">尿が出ていない</th>
                                        <th class="single line">その他の症状</th>
                                        <th class="single line">具体の症状</th>
                                    }
                                    <th class="single line">提出日</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var health in HealthList)
                                {
                                    var style = "";
                                    if (health.IsEmptyData)
                                    {
                                        style = "active";
                                    }
                                    else
                                    {
                                        if (!ShowInfected)
                                        {
                                            if (health.HasWrongValue() || health.IsInfected)
                                            {
                                                style = "negative";
                                            }
                                            else if (health.HasWarnValue())
                                            {
                                                style = "warning";
                                            }
                                        }
                                    }
                                <tr class="@style">
                                    <td><a href="javascript:void(0);" @onclick="async () => { await SetDateAsync(health.MeasuredAt); }">@health.MeasuredAt.ToShortDateString()</a></td>
                                    @if (!string.IsNullOrWhiteSpace(Environment.GetEnvironmentVariable("TIMEFRAME")))
                                    {
                                        <td><a href="javascript:void(0);" @onclick="async () => { await SetTimeFrameAsync(health.TimeFrame); }">@health.TimeFrame</a></td>
                                    }
                                    <td><a href="javascript:void(0);" @onclick="async () => { await SetStudentAsync(health.Student); }">@health.Student.Account</a></td>
                                    <td>@health.Student.Name</td>

                                    @if (string.IsNullOrWhiteSpace(health.Student.Hash))
                                    {
                                        if (!ShowInfected)
                                        {
                                            <td colspan="14">
                                                報告者IDが未登録のユーザー
                                            </td>
                                        }
                                        else
                                        {
                                            <td colspan="18">
                                                報告者IDが未登録のユーザー
                                            </td>
                                        }
                                    }
                                    else if (health.IsEmptyData)
                                    {
                                        if (!ShowInfected)
                                        {
                                            <td colspan="14">
                                                未提出
                                            </td>
                                        }
                                        else
                                        {
                                            <td colspan="18">
                                                未提出
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        if (!ShowInfected)
                                        {
                                            if (health.IsInfected)
                                            {
                                                <td colspan="13">
                                                    <i class="attention icon"></i>感染中
                                                </td>
                                                <td>@health.UploadedAt.ToString()</td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @if (health.IsWrongBodyTemperature())
                                                    {<i class="attention icon"></i> }
                                                    else if (health.IsWarnBodyTemperature())
                                                    { <i class="exclamation triangle icon"></i>}
                                                    @health.BodyTemperature
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn1())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn1
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn2())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn2
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn3())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn3
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn4())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn4
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn5())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn5
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn6())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn6
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn7())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn7
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn8())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn8
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn9())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn9
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn10())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn10
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn11())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn11
                                                </td>
                                                <td>
                                                    @if (health.IsWrongStringColumn12())
                                                    {<i class="attention icon"></i>}
                                                    @health.StringColumn12
                                                </td>
                                                <td>@health.UploadedAt.ToString()</td>
                                            }
                                        }
                                        else
                                        {
                                            if (!health.IsInfected)
                                            {
                                                <td colspan="17">
                                                    非感染
                                                </td>
                                                <td>@health.UploadedAt.ToString()</td>
                                            }
                                            else
                                            {
                                                <td>@(health.InfectedBodyTemperature1 <= 0 ? "" : health.InfectedMeasuredTime1.ToString(@"hh\:mm"))</td>
                                                @if (health.InfectedBodyTemperature1 == 0)
                                                {
                                                    <td></td>
                                                }
                                                else if (health.InfectedBodyTemperature1 >= 37.5M)
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedBodyTemperature1</td>
                                                }
                                                else if (health.InfectedBodyTemperature1 >= 37M)
                                                {
                                                    <td class="warning"><i class="exclamation triangle icon"></i>@health.InfectedBodyTemperature1</td>
                                                }
                                                else
                                                {
                                                    <td>@health.InfectedBodyTemperature1</td>
                                                }
                                                @if (health.InfectedOxygenSaturation1 <= 0)
                                                {
                                                    <td></td>
                                                }
                                                else if (health.InfectedOxygenSaturation1 > 95M)
                                                {
                                                    <td>@health.InfectedOxygenSaturation1</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedOxygenSaturation1.ToString()</td>
                                                }

                                                <td>@(health.InfectedBodyTemperature2 <= 0 ? "" : health.InfectedMeasuredTime2.ToString(@"hh\:mm"))</td>
                                                @if (health.InfectedBodyTemperature2 == 0)
                                                {
                                                    <td></td>
                                                }
                                                else if (health.InfectedBodyTemperature2 >= 37.5M)
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedBodyTemperature2</td>
                                                }
                                                else if (health.InfectedBodyTemperature2 >= 37M)
                                                {
                                                    <td class="warning"><i class="exclamation triangle icon"></i>@health.InfectedBodyTemperature2</td>
                                                }
                                                else
                                                {
                                                    <td>@health.InfectedBodyTemperature2</td>
                                                }
                                                @if (health.InfectedOxygenSaturation2 <= 0)
                                                {
                                                    <td></td>
                                                }
                                                else if (health.InfectedOxygenSaturation2 > 95M)
                                                {
                                                    <td>@health.InfectedOxygenSaturation2</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedOxygenSaturation2.ToString()</td>
                                                }

                                                @if (health.InfectedStringColumn1 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn1</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn1</td>
                                                }
                                                @if (health.InfectedStringColumn2 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn2</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn2</td>
                                                }
                                                @if (health.InfectedStringColumn3 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn3</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn3</td>
                                                }
                                                @if (health.InfectedStringColumn4 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn4</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn4</td>
                                                }
                                                @if (health.InfectedStringColumn5 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn5</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn5</td>
                                                }
                                                @if (health.InfectedStringColumn6 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn6</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn6</td>
                                                }
                                                @if (health.InfectedStringColumn7 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn7</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn7</td>
                                                }
                                                @if (health.InfectedStringColumn8 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn8</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn8</td>
                                                }
                                                @if (health.InfectedStringColumn9 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn9</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn9</td>
                                                }
                                                @if (health.InfectedStringColumn10 == "いいえ")
                                                {
                                                    <td>@health.InfectedStringColumn10</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn10</td>
                                                }
                                                @if (string.IsNullOrWhiteSpace(health.InfectedStringColumn11))
                                                {
                                                    <td>@health.InfectedStringColumn11</td>
                                                }
                                                else
                                                {
                                                    <td class="negative"><i class="attention icon"></i>@health.InfectedStringColumn11</td>
                                                }
                                                <td>@health.UploadedAt.ToString()</td>
                                            }
                                        }
                                    }

                                </tr>
                                }
                            </tbody>
                        </table>
                        @if (HasPagination)
                        {
                            var previous = 0;
                            <div class="ui center pagination menu bottom attached">
                                @foreach (var i in pages)
                                {
                                    if (previous + 1 != i)
                                    {
                                        <div class="disabled item">...</div>
                                    }
                                    if (i == PageNumber)
                                    {
                                        <div class="active item">@i</div>
                                    }
                                    else
                                    {
                                        <a class="item" @onclick="async () => await GotoPageAsync(i)">@i</a>
                                    }
                                    previous = i;
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="ui segment bottom attached">
                            <div class="ui negative message">
                                <p>フィルタ式の構文エラーです:</p>
                                <div class="ui message">
                                    <pre>@ErrorMessage</pre>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>



@code
{
    [Parameter]
    public string CourseId { get; set; }
    protected int id { get; set; }

    protected bool ShowInfected = false;

    protected DateTime ussDate { get; set; } = DateTime.Today;

    protected int Count = 0;
    public bool HasPagination { get { return (pages?.Count() ?? 0) > 1; } }
    protected int PageNumber { get; set; } = 1;
    protected int EntriesPerPage { get; set; } = 100;
    protected IEnumerable<int> pages;

    protected Course Course { get; set; }
    protected IQueryable<Health> HealthQuery { get; set; }
    protected IEnumerable<Health> HealthList { get; set; } = new Health[0] { };
    protected string FilterString = "";
    protected bool Loaded = false;
    protected bool Allowed = false;
    protected bool Processing = false;
    protected bool NewMailProcessing = false;
    protected bool AllMailProcessing = false;

    protected string ErrorMessage;
    protected string MailMessage;

    protected override async Task OnInitializedAsync()
    {
        Loaded = false;
        Notifier.Notify += OnNotify;
        await Update();
        await CheckMailAsync(false, true);
        SetConditionAndOrder(Course.InitialFilter ?? "date==today", "");
        await FilterAsync(FilterString);
    }

    public async Task OnNotify()
    {
        await Update();
        await InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        Notifier.Notify -= OnNotify;
    }
    public void UpdatePagination()
    {
        var total = Count / EntriesPerPage + (Count % EntriesPerPage > 0 ? 1 : 0);
        var head = Enumerable.Range(1, 3);
        var around = Enumerable.Range(PageNumber - 3, 7);
        var tail = Enumerable.Range(total - 2, 3);
        HealthList = HealthQuery.Skip(EntriesPerPage * (PageNumber - 1)).Take(EntriesPerPage).AsEnumerable();
        pages = head.Concat(around).Concat(tail).OrderBy(x => x).Where(x => x > 0 && x <= total).Distinct();
    }

    protected async Task Update()
    {
        id = int.Parse(CourseId);
        var auth = await Auth.GetAuthenticationStateAsync();

        var staff = DB.Context.Staffs.Where(x => x.Account == auth.User.Identity.Name).FirstOrDefault();
        if (staff != null)
        {
            Course = DB.Context.Courses.Include(x => x.MailBox).Include(x => x.StudentAssignments).Where(x => x.Id == id).FirstOrDefault();
            Allowed = Course != null && (staff.IsAdmin || Course.AssignedStaffAccounts().Contains(staff.Account));
            ShowInfected = Course.ShowInfectedData;
        }

        if (!string.IsNullOrWhiteSpace(MailMessage))
        {
            var lastHistroy = DB.Context.Histories.Include(x => x.Operator).ToArray().Where(x => x.MailBoxId == Course.MailBoxId).OrderBy(x => x.OperatedAt).LastOrDefault();
            if (lastHistroy == null)
            {
                MailMessage = "メールの確認をしていません．";
            }
            else
            {
                MailMessage = $"最後のメール確認は {lastHistroy.OperatedAt.ToString()} に {lastHistroy.Operator?.Name ?? "システム"} によって行われました．";
            }
        }
    }

    protected string GetCsvFileUrl(string filterString)
    {
        string str = HttpUtility.UrlEncode(filterString);
        @if (!ShowInfected)
        {
            return $"course/{Course.Id}/report.csv?filterString={str}";
        }
        else
        {
            return $"course/{Course.Id}/report-infected.csv?filterString={str}";
        }
    }

    protected (string, string) GetConditionAndOrder()
    {
        string condition = "", order = "";
        if (FilterString.Contains("order by"))
        {
            var str = FilterString.Split("order by");
            if (str.Count() == 2)
            {
                order = str[0];
            }
            if (str.Count() >= 2)
            {
                condition = str[0];
                order = str[1];
            }
        }
        else
        {
            condition = FilterString;
        }
        return (condition, order);
    }
    protected void SetConditionAndOrder(string condition, string order)
    {
        if (string.IsNullOrWhiteSpace(order))
        {
            FilterString = $"{condition.Trim()}";
        }
        else
        {
            FilterString = $"{condition.Trim()} order by {order.Trim()}";
        }
    }

    protected string AddCondition(string condition)
    {
        var newQuery = NCVC.Parser.QueryParser.ParseQuery(condition);
        if (newQuery?.Value == null)
        {
            return "";
        }
        var (oldConditionString, _) = GetConditionAndOrder();
        var oldConditionExprs = oldConditionString.Split(",", StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()).Where(x => !string.IsNullOrWhiteSpace(x));
        var newRefs = newQuery.Value.Item1.SelectMany(x => NCVC.Parser.QueryParser.GetReferences(x));
        var cs = oldConditionExprs.Where(cndt =>
        {
            var query = NCVC.Parser.QueryParser.ParseQuery(cndt);
            if (query?.Value == null) return false;
            var refs = query.Value.Item1.SelectMany(x => NCVC.Parser.QueryParser.GetReferences(x));
            return refs.Intersect(newRefs).Count() == 0;
        }).Append(condition);
        return string.Join(",", cs);
    }

    protected async Task SetOrderStudentAsync()
    {
        var (condition, order) = GetConditionAndOrder();
        var orders = order.Split(",", StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()).Where(x => !string.IsNullOrWhiteSpace(x)).Where(x => !x.Contains("user")).Prepend("user");
        order = string.Join(", ", orders);
        SetConditionAndOrder(condition, order);
        await FilterAsync(FilterString);
    }
    protected async Task SetOrderDescStudentAsync()
    {
        var (condition, order) = GetConditionAndOrder();
        var orders = order.Split(",", StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()).Where(x => !string.IsNullOrWhiteSpace(x)).Where(x => !x.Contains("user")).Prepend("~user");
        order = string.Join(", ", orders);
        SetConditionAndOrder(condition, order);
        await FilterAsync(FilterString);
    }

    protected async Task SetOrderTimeFrameAsync()
    {
        var (condition, order) = GetConditionAndOrder();
        var orders = order.Split(",", StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()).Where(x => !string.IsNullOrWhiteSpace(x)).Where(x => !x.Contains("timeframe")).Prepend("timeframe");
        order = string.Join(", ", orders);
        SetConditionAndOrder(condition, order);
        await FilterAsync(FilterString);
    }
    protected async Task SetOrderDescTimeFrameAsync()
    {
        var (condition, order) = GetConditionAndOrder();
        var orders = order.Split(",", StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()).Where(x => !string.IsNullOrWhiteSpace(x)).Where(x => !x.Contains("timeframe")).Prepend("~timeframe");
        order = string.Join(", ", orders);
        SetConditionAndOrder(condition, order);
        await FilterAsync(FilterString);
    }

    protected async Task SetOrderDateAsync()
    {
        var (condition, order) = GetConditionAndOrder();
        var orders = order.Split(",", StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()).Where(x => !string.IsNullOrWhiteSpace(x)).Where(x => !x.Contains("date")).Prepend("date");
        order = string.Join(", ", orders);
        SetConditionAndOrder(condition, order);
        await FilterAsync(FilterString);
    }
    protected async Task SetOrderDescDateAsync()
    {
        var (condition, order) = GetConditionAndOrder();
        var orders = order.Split(",", StringSplitOptions.RemoveEmptyEntries).Select(x => x.Trim()).Where(x => !string.IsNullOrWhiteSpace(x)).Where(x => !x.Contains("date")).Prepend("~date");
        order = string.Join(", ", orders);
        SetConditionAndOrder(condition, order);
        await FilterAsync(FilterString);
    }


    protected async Task SetFilteringAsync(string expr)
    {
        var (_, order) = GetConditionAndOrder();
        SetConditionAndOrder(AddCondition(expr), order);
        await FilterAsync(FilterString);
    }

    protected async Task SetStudentAsync(Student student)
    {
        var (_, order) = GetConditionAndOrder();
        var expr = $"user == \"{student?.Account}\"";
        SetConditionAndOrder(AddCondition(expr), order);
        await FilterAsync(FilterString);
    }
    protected async Task SetTimeFrameAsync(string timeFrame)
    {
        var (_, order) = GetConditionAndOrder();
        var expr = $"timeframe == \"{timeFrame}\"";
        SetConditionAndOrder(AddCondition(expr), order);
        await FilterAsync(FilterString);
    }
    protected async Task SetDateAsync(DateTime date)
    {
        var (_, order) = GetConditionAndOrder();
        var expr = $"date =={ date.Year}/{date.Month}/{date.Day}";
        SetConditionAndOrder(AddCondition(expr), order);
        await FilterAsync(FilterString);
    }

    protected async Task FilterAsync(string filterString)
    {
        if (!Processing)
        {
            Processing = true;
            StateHasChanged();

            await Task.Run(async () =>
            {
                await InvokeAsync(() =>
                {
                    var ec = NCVC.Parser.QueryParser.HasError(filterString);
                    if (ec?.Value != null)
                    {
                        ErrorMessage = ec.Value;
                    }
                    else
                    {
                        ErrorMessage = "";
                        (Count, HealthQuery) = Health.Search(DB.Context, ShowInfected, EV, Course.Id, filterString);
                    }
                    PageNumber = 1;
                    UpdatePagination();
                });
            });

            Processing = false;
            StateHasChanged();
        }
    }

    protected async Task GotoPageAsync(int i)
    {
        if (!Processing)
        {
            Processing = true;
            StateHasChanged();

            await Task.Run(async () =>
            {
                await InvokeAsync(() =>
                {
                    PageNumber = i;
                    UpdatePagination();
                });
            });

            Processing = false;
            StateHasChanged();
        }
    }


    protected async Task CheckMailAsync(bool isAll, bool first = false)
    {
        if (!Processing)
        {
            Processing = true;
            if(isAll)
            {
                AllMailProcessing = true;
            }
            else
            {
                NewMailProcessing = true;
            }
            StateHasChanged();

            await Task.Run(async () =>
            {
                await InvokeAsync(async () =>
                {
                    await Task.Run(async () =>
                    {
                        var auth = await Auth.GetAuthenticationStateAsync();
                        var staff = DB.Context.Staffs.Where(x => x.Account == auth.User.Identity.Name).FirstOrDefault();
                        if (staff == null)
                        {
                            return;
                        }

                        try
                        {
                            int index, count, numOfNewData, numOfUpdated;
                            if (isAll)
                            {
                                (index, count, numOfNewData, numOfUpdated) = await CSV.PullCsv(staff, Course.MailBox);
                            }
                            else
                            {
                                var lastHistroy = DB.Context.Histories.Include(x => x.Operator).ToArray().Where(x => x.MailBoxId == Course.MailBoxId).OrderBy(x => x.OperatedAt).LastOrDefault();
                                if (lastHistroy == null)
                                {
                                    (index, count, numOfNewData, numOfUpdated) = await CSV.PullCsv(staff, Course.MailBox);
                                }
                                else
                                {
                                    (index, count, numOfNewData, numOfUpdated) = await CSV.PullCsv(staff, Course.MailBox, lastHistroy.LastIndex);
                                }
                            }
                            if (count == 0)
                            {
                                if(first)
                                {
                                    MailMessage = $"{DateTime.Now.ToString()} までに届いたメールを集計して右記の検索条件で表示しています";

                                }
                                else
                                {
                                    MailMessage = $"新着メールはありません（最終確認日時: {DateTime.Now.ToString()}）";
                                }
                            }
                            else
                            {
                                MailMessage = $"{numOfNewData} 件の新規データと {numOfUpdated} 件の更新データを取り込みました（最終確認日時: {DateTime.Now.ToString()}）";
                            }
                        }
                        catch (Exception e)
                        {
                            MailMessage = e.Message;
                        }
                    });
                });
            });

            Processing = false;
            if(isAll)
            {
                AllMailProcessing = false;
            }
            else
            {
                NewMailProcessing = false;
            }
            StateHasChanged();
        }
    }
}
